server:
  port: 8080
spring:
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: dev
    include: secret
  jpa:
    hibernate:
      ddl-auto: update
  ai:
    openai:
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.7
      embeddings:
        model: text-embedding-3-small
    vectorstore:
      mariadb:
        initialize-schema: true
        schema-validation: false
        schema-name: chwimeet
        table-name: vector_store
        dimensions: 1536
        distance-type: cosine